.card {
  background-position: center;
  background-size: cover !important;
  border: 6px solid transparent;
  color: #fff;
  cursor: pointer;
  flex: 50% 0 0;
}

.selected {
  border: 6px #ff4040 solid;
}

.card .card-infos {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  opacity: .9;
  padding: 16px;
  position: relative;
  text-shadow: #111 1px 1px 1px;
}
